@charset "UTF-8";

*{
    margin:0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body, html{
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
}
#login{
    background-color: white;
    width: 270px;
    height: 515px;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);

    transform: translate(-50%, -50%);
}
#login > #form{
    display: block;
    padding: 10px;
}
#form > h1{
    text-align: center;
    margin-bottom: 10px;
}
.campo > label{
    display: none;
}
.campo > input {
    display: block;
    margin-top: 5px;
    padding: 5px;
    height: 35px;
    font-size: 1em;
    border: 0px;
    border-radius: 8px;
    background-color: lightgray;
}